#####################################################################################################
### PowerBoard: Scoreboard + Tablist + Prefix + Chat | Animated                                   ###
###                                                                                               ###
### Wiki: https://github.com/Xitee1/PowerBoard/wiki                                               ###
### Need some help? Support is given on our Discord Server:  https://discord.gg/VqK3ctsbz7        ###
### Found a bug? Report it either on GitHub or Discord.                                           ###
###                                                                                               ###
### (For developers) Source-Code: https://github.com/Xitee1/PowerBoard                            ###
#####################################################################################################

# Before reaching out to support, read this!!
# Be careful when modifying the config! It is very sensitive to typing mistakes.
# A space too much or a missing ' and the plugin no longer works.
# To prevent these errors, ONLY modify the VALUES! Also keep an eye on the single quotes (don't remove them!).

###############
### Modules ###
###############
scoreboard: true # enable/disable the scoreboard
scoreboard-default: 'scoreboard' # The scoreboard that will be set after a player joins the server
scoreboard-advanced-settings:
  use-existing-scoreboard: false # Always leave this false unless you use another scoreboard/rank plugin and have issues. In this case the option might fix issues with other plugins.

tablist:
  text: true # enable/disable the header/footers
  text-default: 'tablist' # The tablist that will be set after a player joins the server
  ranks: true # enable/disable the rank system (only tablist)

chat:
  ranks: true # enable/disable the chat system
  colorperm: 'chat.color' # The permission to use colorcodes in chat. To disable (preventing all players from using colors in chat), set it to "none".
  allowHexColors: true # Allow players to use hex colors in chat. It uses the 'colorperm' permission.

#############
### Ranks ###
#############
ranks:
  # You can use the following permission systems:
  # - none (the player needs the specified permission)
  # - LuckPerms (Features: Separate admin & owner rank's, auto update (no rejoin needed after group change - only API!), (optional) use prefixes you have set in luckperms)
  # - API (Only for devs - set this if you want to use the PowerBoard API only)
  # For more infos visit the wiki!
  permissionsystem: 'none'
  
  update-interval: -1 # Interval for automatically updating the ranks (in minutes). Useful if placeholders in prefixes/suffixes are used. Set to -1 to disable (default).

  options:
    show-prefix-in-tab: true # In case you have another plugin for the tablist prefix.
    show-suffix-in-tab: true
    use-player-list-name: false # This allows you to use hex colors for the players name. As a side-effect, it disables the prefix/suffix above the player's head.
    try-player-head-with-pln: false # Show the prefix/suffix even if the option 'use-player-list-name' is enabled if possible.
  
  # If you want to sync all your prefixes with all your servers or just want to use the prefixes that you have set for the groups in
  # LuckPerms, enable this setting. But make sure that you have configured the LuckPerms groups properly! More infos are in the wiki.
  luckperms-api:
    enable: false
    prefix-suffix-space: false # Set a space behind the prefix and in front of the suffix
    chat-layout: '%prefix% %player_name% &7» ' # This is the fallback chat-prefix if there is no specific for the rank
    chat-prefix:
      owner: '&4Owner &7| &4%player_name% &7» '
      admin: '&cAdmin &7| &c%player_name% &7» '
      player: '&7Player | %player_name% » '

  ### (If you have LuckPerms API enabled, ignore the rank list in this config.)
  ### You can add as many ranks as you want.
  ### Note: There's a limit of 64 chars in the prefix/suffix. Depending on your MC version, this limit can be higher or lower.
  ###       If you are unsure, just try it out after how much chars it stops working.
  ###       The chat prefix does not have these limits.
  list:
    owner:
      permission: 'rank.owner' # If the perm system above is "none", use a permission here. If it's not "none", use the group name instead (E.g. 'owner' instead of 'rank.owner').
      prefix: '&4Owner &7| &4'
      suffix: ' &7[&eTeam&7]'
      chatPrefix: '&7[&cOwner&7] %player_name% » '
      placeholder-name: 'Owner' # This will replace the %player_rank% placeholder
    admin:
      permission: 'rank.admin'
      prefix: '&cAdmin &7| &c'
      suffix: ' &7[&eTeam&7]'
      chatPrefix: '&7[&4Admin&7] %player_name% » '
      placeholder-name: 'Admin'
    player:
      permission: 'rank.player'
      prefix: '&7Player | '
      suffix: ''
      chatPrefix: '&7[&aPlayer&7] %player_name% » '
      placeholder-name: 'Player'

####################
### Placeholders ###
####################
placeholder:
  prefer-plugin-placeholders: true # If PB overwrites a PAPI placeholder you want to use, set this to false.
  time-format: 'HH:mm' # If you don't know what to set here, have a look at this: https://docs.oracle.com/javase/7/docs/api/java/text/SimpleDateFormat.html
  date-format: 'yyyy-MM-dd'
  money-decimals: 2 # The maximum decimals for the placeholder %player_money%.
  hexColorSyntax: '#000000' # Set the hex color syntax. For example 'color:000000' or just '#000000' - whatever you want. WARNING NOT WORKING CHARS: { } ( )
  world-names: # Used in the %player_world% placeholder. You can add other worlds too.
    world: 'Overworld'
    world_nether: 'Nether'
    world_the_end: 'The End'

######################
### Plugin Updater ###
######################
update:
  checkForUpdates: true # Set to false to prevent any version checks
  notification: true # Send a message to all Admins on join if a new update is available
  autoupdater: false # With this option, the plugin will be automatically updated (No longer recommended because of some glitches)

#############################################
#### The debug can help you find problems ###
#############################################
debug: false
